/* chat header */

.chat-info {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__user {
    font-size: 20px;
    color: #8299ba;
    margin-right: 48px;
  }
  &__adduser {
    display:flex; 
    position:relative;
    gap:10px;
  }
  &__userlist {
    position: absolute;
    top:70px;
    left:0;
    min-height: 200px;
    width: 300px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    display: flex;
    flex-flow: column;
    gap: 8px;
    z-index: 20;
  }
  &__useritem {
    padding: 8px;
    background: #eee;
    cursor: pointer;
    &:hover {
      background: #e5e5e5;
    }
  }
}

/* Messages in chat */
.chat-wrap-messages {
  height: 100%;
  flex: 1;
  overflow-y: scroll;
  max-height: calc(100vh - 210px);
  width: 100%;
  background: linear-gradient(270deg, rgb(249 251 255 / 0%) 0%, #f9fbff 100%);
  display: flex;
  align-items: flex-end;
}

.chat-messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 24px 24px;
  gap: 16px;
  height: 100%;

  &__message {
    display: inline-flex;
    max-width: 560px;
    padding: 24px 24px 40px;
    position: relative;

    &_my {
      background: #edeefc;
      margin-left: auto;
      border-radius: 20px 20px 0;
    }

    &_others {
      background: #def;
      border-radius: 20px 20px 20px 0;
    }
  }
}

/* Форма ввода сообщения */
.message-input {
  width: 100%;
  padding: 20px 36px 20px 12px;
  border-top: 4px solid #f6f7f8;
  display: flex;
  flex-direction: row;
  gap: 16px;

  &__field {
    flex-grow: 1;
    font-size: 20px;
    color: #8d8d8d;
    border: 0;
    outline: 0;
    padding-top: 16px;
    overflow: hidden;
    resize: none;
  }
}

/* Не выбранный чат */
.chat-empty {
  position: relative;
  text-align: center;
  min-width: 340px;

  &__text {
    position: absolute;
    width: 100%;
    top: 60%;
  }
}

.create-chat-wrap {
  display: flex;
    justify-content: center;
    gap: 10px;
    padding: 16px;
    position: absolute;
    bottom: 0;
}

.author {
  color: #bababa;
  font-size: 10px;
  position: absolute;
  top: 8px;
  left: 13px;
  line-height: 8px;
}
