<div class="wrapper">
  {{{sidebar}}}
  <div class="profile">
    <div class="profile__avatar">
      <img src="{{emptyImg}}" alt="">
    </div>
    <div class="profile__name">Сергей Ембулаев</div>
    <div class="profile__info">
      <div class="profile__item">
        <div class="profile__item-name">
          <div class="profile__item-name-text">Имя</div>
        </div>
        <div class="profile__item-value">Сергей</div>        
      </div>      
      <div class="profile__item">
        <div class="profile__item-name">
          <div class="profile__item-name-text">Фамилия</div>        
          </div>
        <div class="profile__item-value">Ембулаев</div>        
      </div>      
      <div class="profile__item">
        <div class="profile__item-name">
          <div class="profile__item-name-text">Имя в чате</div>        
          </div>
        <div class="profile__item-value">Harlequin_plus</div>        
      </div>      
      <div class="profile__item">
        <div class="profile__item-name">
          <div class="profile__item-name-text">Телефон</div>        
          </div>
        <div class="profile__item-value">+7 (999) 333-22-11</div>        
      </div>      
      <div class="profile__item">
        <div class="profile__item-name">
          <div class="profile__item-name-text">Почта</div>        
          </div>
        <div class="profile__item-value">embulaev@gmail.com</div>        
      </div>      
      <div class="profile__item">
        <div class="profile__item-name">
          <div class="profile__item-name-text">Логин</div>        
          </div>
        <div class="profile__item-value">embulaev</div>        
      </div>      
    </div>
    <div class="profile__controls">
      <a href="/profile/edit/" class="link profile__link">Изменить данные</a>
      <a href="/profile/edit/password/" class="link profile__link">Изменить пароль</a>
      <a href="/profile/logout/" class="link profile__link profile__link_red">Выйти из профиля</a>
    </div>
  </div>
</div>
