<div class="wrapper">
  {{{sidebar}}}
  <form class="profile" onsubmit="return false">
    <div class="profile__name">Изменить аватар</div>
    <div class="profile__info"> 
      <div class="profile__item">
        <div class="profile__item-name">
          <div class="profile__item-name-text">Загрузите картинку</div>        
          </div>
        <div class="profile__item-value">
          {{{fileInput}}}
        </div>        
      </div>          
    </div>
    <div class="profile__controls">
      {{{saveButton}}}
    </div>
  </form>
</div>
