.chat-search {
  border: 2px solid #DEDEDE;
  border-radius: 10px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  max-width: 336px;
  width: 100%;

  &__icon {
    display: flex;
  }

  &__input {
    margin-left: 8px;
    flex-grow: 1;
    padding: 16px 0;
  }
}
