
<div class="chat-search" >
  <span class="chat-search__icon"><img src="{{searchIcon}}" alt=""></span>
  <input class="chat-search__input" type="text" name="search" placeholder="{{placeholder}}">
</div>
