.welcome {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px 100px;
  
  &__logo {
    display: flex;
    flex-direction: row;
    font-family: 'Irish Grover', cursive;
    font-size: 32px;

    @media(width >=768px) {
      font-size: 66px;
    }
    
    &-img {   
      max-height: 100px;
      max-width: 70px;
      object-fit: cover;
  
      @media(width >=768px) {
        font-size: 66px;
        max-height: none;
        max-width: none;
        margin-right: -50px;
      }

      & img {
        max-height: 100%;
      }
    }

    &-text {
      margin-top: 20px;

      @media(width >=768px) {
        margin-top: 80px;
      }
    }
  }

  &__h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    @media(width >=768px) {
      font-size: 46px;
      line-height: 66px;
    }

    & strong {
      font-weight: 700;
    }
    
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    @media(width >=768px) {
      font-size: 30px;
      line-height: 46px;
    }

    &-emphasis {
      color: #8B8B8B;
      font-style: italic;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;

    @media(width >=768px) {
      margin-top: 60px;
      flex-direction: row;
      gap: 64px;
    }
  }
}
