<section class="welcome">
  <div class="welcome__logo">
    <div class="welcome__logo-text">Welcome</div>
    <div class="welcome__logo-img"><img src="{{balloon}}" alt=""></div>
    <div class="welcome__logo-text">Chat</div>
  </div>

  <h1 class="welcome__h1">
      <strong>iT Chat</strong> — здесь нет искусственного интеллекта, но есть искусство общения!
  </h1>

  <p class="welcome__text">
      Привет, это Пеннивайз! iT Chat - это мессенджер, но я знаю, что там что-то не&nbsp;так... Ты можешь получить текстовые сообщения и&nbsp;обменяться файлами, но будь осторожен, друг мой. Не доверяй им слишком много... <span class="welcome__text-emphasis">зловещий смех</span>
  </p>

  <div class="welcome__buttons">
      {{{authButton}}}
      {{{regButton}}}
  </div>
  
</section>
