<aside class="sidebar">
  <a href="/messenger" class="sidebar__logo logo">
    <img src="{{logoImg}}" alt="">
  </a>
  <nav>
    <a id="profile_button" href="/settings" type="button" class="button sidebar__button">
      <span class="sidebar__button-icon">
        <img src="{{settingsIcon}}" alt="">
      </span>
    </a>
  </nav>
</aside>
